__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.env
venv/
data/ninapro_db5/
data/s1/
data/*.mat
data/*.csv
*.pkl
*.h5
results/*.csv
.idea/
hls/svm_inference/
hls/fpga_prosthetic/
hls/svm_params.h
